//Light Colors

//Sidenav
$sidenavBackground_light: #fff;
$sidenavIcon_light: #1d2939;
$sidenavItemText_light: #667085;
$sidenavItemTextActive_light: #1d2939;
$sidenavHover_light: #aad7d9;

//Body
$bodyBackground_light: #f2f4f7;

//Dark Colors

//Sidenav
$sidenavBackground_dark: #23272f;
$sidenavIcon_dark: #fff;
$sidenavItemText_dark: rgb(235 236 240);
$sidenavItemTextActive_dark: #fff;
$sidenavHover_dark: #92c7cf;

//Body
$bodyBackground_dark: #191b20;
